body{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #beffff;
    padding-bottom: 70px;
}
body p{
    color: rgb(125, 125, 129);
}
.top-bannar{

}
.top-bannar-header{

}
.top-bannar-details{

}
.Donate-today{

}
.donate-today-taka{

}
#tk-color{

}
.our-donation-plan{

}
.services{

}
.reviews{

}
.get-my-updates{

}
.comment{

}
.your-comment{

}
#submit{
    
}