body{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #dee4e4;
    padding-bottom: 70px;
}
body p{
    color: rgb(89, 89, 94);
}
.top-bannar{
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    text-align: center;
    width: 70%;
    height: 400px;
    padding-top: 50px;
    margin-top: 0px;
    margin: auto; 
    color: aliceblue;
}
.top-bannar div{
    width: 87%;
    align-items: center;
    margin:20px;
    height: 320px;
    background-color: rgba(209, 214, 214, 0.514);
    border-radius: 20px;
}
.top-bannar h1{
    text-align: center;
    color: rgb(119, 5, 24);
    font-size: 38px;
    font-weight: 800;
    padding-top: 20px;
}
.top-bannar p{
    margin:0px 50px 40px 50px;
    color:rgb(53, 51, 51);
    font-size: 20px;
}

.top-bannar-header{
}
.top-bannar-details{
}

.Donate-now{
    padding: 7px 15px;
    background-color: rgb(219, 24, 24);
    color: #ffff;
    border-radius: 8px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 20px;
}
.Donate-now:hover{
    background-color: rgb(13, 107, 13);
}
.Donate-today{
    text-align: center;
    width: 78%;
    margin: 60px auto 0;
}
.Donate-today h1{
    font-size: 28px;
    font-weight: 800;
}
.Donate-today p{
    margin: 0 10%;
}
.donate-today-taka{
    display: flex;
    gap: 180px;
    margin-top: 30px;
}
.donate-today-taka h1{
    background-color: #9ecef5;
    padding: 50px 40px;
}
#tk-color{
    color: #ffff;
    background-color: #9000ad;
    padding: 50px 40px;
}
.other-amount hr{
    margin-bottom: 40px;
    border: 2px solid darkslategrey;
}
.our-donation-plan{
    text-align: center;
    width: 78%;
    margin: 60px auto 0;
}
.services{
    display: flex;
    gap: 50px;
}
.services div{
    background-color: rgb(162, 175, 199);
    height: 400px;
    width: 500px;
    border: 10px solid rgba(255, 124, 124, 0.329);
    box-shadow: 5px 5px 50px 50px rgba(8, 8, 8, 0.164);
    border-radius: 20px;
    padding: 20px;
}
.services img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: auto; 
}
.thought{
    text-align: center;
    font-weight: 800;
    margin-top: 70px;
}
.reviews{
    display: flex;
    gap: 100px;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 50px;
    border: 10px solid rgba(255, 255, 255, 0);
}
.reviews img{
    height: 300px;
    width: 400px;
    border: 10px solid rgba(245, 146, 54, 0.192);
}
.get-my-updates{
    text-align: center;
    height: 350px;
    width: 78%;
    margin: 60px auto 0;
}
.comment{
    display: flex;
    align-items: center;
    background-color: rgba(5, 122, 85, 0.226);
}
.comment div{
    width: 600px;
}
.comment div input{
    width: 60%;
    padding: 10px 10px;
    background-color: rgb(175, 182, 189);
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid #040675;
}
.comment div textarea{
    width: 60%;
    padding: 10px 10px;
    background-color: rgb(175, 182, 189);
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #040675;
}
.comment div img{
    margin: 6px 0px 0px 7px;
    height: 250px;
    width: 600px; 
}
.your-comment{
    width: 78%;
    margin: 10px auto 0px;
    color: #040675;
    font-weight: 900;
    font-variant-caps: all-petite-caps;
    font-size: 30px;
}
#submit{
    width: 50%;
    padding: 10px 10px;
    background-color: rgb(187, 19, 11);
    color: white;
    padding: 5px 0;
}
footer{
    display: block;
}
footer h3{
    margin-top: 300px;
    font-weight: 800;
    text-align: center;
}
footer p{
    text-align: center;
    margin-top: -20px;
}
